nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

}

a {
    font-size: 25px;
}

span {
    margin-right: 5%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.navbar.bg-dark {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
