<div class="full-screen">
  <div
    *ngIf="!cities.categories"
    class="d-flex flex-column justify-content-center col-8 col-md-6 mt-2"
  >
    <div class="title-container mb-2">
      <!-- <h1 class="mb-3">City Tracker</h1> -->
      <h1>Welcome! Enter a city name to check its score.</h1>
    </div>
    <div class="search-bar-container d-flex justify-content-center">
      <input
        [formControl]="searchControl"
        type="text"
        class="search-input col-8 col-md-10"
        placeholder="Search"
      />
      <button class="btn search-button col-2" (click)="search()">Search</button>
    </div>

    <div
      class="alert alert-danger mt-2 mx-1 text-light"
      id="alert"
      role="alert"
    >
      The city name may be incorrect or not exist in the database!
    </div>
  </div>
</div>

