<div class="imgcontainer" [ngClass]="{'imgcontainer': !cities.categories}">

    <div class="city-container" 
    [ngClass]="{'margin-container': cities.categories, 'center-items': !cities.categories}">
    <div class="container-fluid mt-2">
        <h1 *ngIf="!cities.categories">Welcome to City Tracker, enter a city name to check its score.</h1>
        <div class="d-flex mb-2">
            <input [formControl]="searchControl" class="form-control me-sm-2" type="search" placeholder="Search">
            <button type="button" class="btn btn-outline-success btn-sm" (click)="search()">Search</button>
        </div>
        <div class="alert alert-danger mt-2 mx-1 text-light" id="alert" role="alert">
            The city name may be incorrect or not exist in the database!
        </div>
    </div>



    <div *ngIf="cities" class="mx-1">
        <div [innerHTML]="cities.summary"></div>
        <table class="table" *ngIf="cities.categories">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of cities.categories">
                    <th scope="row" class="col-1">{{city.name}}</th>
                    <td class="d-flex justify-content-center" class="col-1">
                        <div class="circle" [style.backgroundColor]="city.color"></div>
                    </td>
                    <td class="col-1">{{city.score_out_of_10 | number:'1.1-1'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
